#cr-playlist{
    overflow-y: auto !important;
    flex: 1;
    min-height: 0; 
    flex-grow: 0 !important;
    min-height: auto !important;

}

#host-mode {
    font-family: "Square Peg", cursive;
    font-size: 1.7rem;
    color: #9F5255;
    margin-bottom: 8px;
}

#enter-code {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    width: 35%;
    border-radius: 12px;
    background: #ffffff !important;
}

#enter-code:focus, #search-box:focus {
    outline: none;
    border: 1px solid #b59a72;
    box-shadow: 0 0 0 .15rem #F0E4D3;
    background: #ffffff !important;
}

#or {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 1rem;
}

.vintage-btn {
    background: #F0E4D3; 
    border: 1px solid #b59a72;
    color: #4a3b2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 35%;
    align-self: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.vintage-btn:hover {
    background: #b59a72;
}

.vintage-btn:active {
    transform: scale(0.75);
}

#generated-code {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 1rem;
    margin-bottom: 0rem;
}

#gen-code-note {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 0.7rem;
    margin-bottom: 8px;
}

#search-song-btn {
    background: #F0E4D3; 
    border: 1px solid #b59a72;
    color: #4a3b2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 25%;
    align-self: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#search-song-btn:hover {
    background: #b59a72;
}

#search-song-btn:active {
    transform: scale(0.75);
}

#search-box {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: #ffffff !important;
}

#head-res, #head-queue {
    font-family: "Square Peg", cursive;
    font-size: 2rem;
    color: #9F5255;
}

#sr-song-placeholder, #queue-placeholder {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 0.7rem;
    margin-bottom: 8px;
}

.add-btn, .remove-btn, .play-btn {
    background: #F0E4D3;
    border: 1px solid #b59a72;
    color: #9F5255;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    padding: 4px 12px;
    border-radius: 12px;
    cursor: pointer;
}

.add-btn:hover, .remove-btn:hover, .play-btn:hover {
    background: #9F5255;
    font-family: 'Courier New', Courier, monospace;
    color: #b59a72;
}

.add-btn:active, .remove-btn:active, .play-btn:active {
    transform: scale(0.85);
}

.now-playing {
    background: #F0E4D3;
    border-left: 4px solid #9F5255;
    border-radius: 6px;
    padding-left: 6px;
}