.app-container {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.qmusik-header {
    /* background: linear-gradient(135deg, #ffdba9, #ffac91); */
    background: #F0E4D3;
    position: relative;
}

.app-name {
    color: #7C444F;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.tagline {
    color: #9F5255;
    font-family: "Square Peg", cursive;
    font-size: large;
    font-style: italic;
}

.main-section {
    position: relative;
    flex: 1;          /* This makes it fill the remaining viewport */
    padding: 20px;
    overflow-y: auto;
}

.playlist {
    padding-top: 20px;
    font-family: "cookie", cursive;
    font-size: 1.7rem;
    font-weight: bolder;
    color: #9F5255;
    display: flex;
}

.playlist-header {
    text-align: center;
}

#cs-placeholder {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    width: 40%;
}

#or {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 1rem;
}

.vintage-btn {
    background: #F0E4D3; 
    border: 1px solid #b59a72;
    color: #4a3b2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 40%;
    align-self: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.vintage-btn:hover {
    background: #b59a72;
}

.vintage-btn:active {
    transform: scale(0.75);
}

#generated-code {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    width: 40%;
}

#qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
}

#generated-code {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.action-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.qm-btn {
    background-color: #7C444F;       /* Same maroon tone as title */
    color: #F0E4D3;                   /* Same beige tone as header */
    border: none;
    padding: 15px 40px;
    font-size: 1.3rem;
    border-radius: 12px;
    font-family: "Rubik Wet Paint", system-ui;
    letter-spacing: 1px;
    transition: 0.2s ease;
    width: 200px;
}

.qm-btn:hover {
    background-color: #9F5255;       /* Slightly lighter maroon on hover */
    transform: translateY(-2px);
}

.qm-btn:active {
    transform: scale(0.98);
}  
