#cr-playlist{
    /* position: relative; */
    /* flex: 1;          This makes it fill the remaining viewport */
    /* overflow-y: auto; */


    overflow-y: auto !important;
    flex: 1;               /* allows proper stretch */
    min-height: 0;         /* REQUIRED for flex children to scroll */
    flex-grow: 0 !important;
    min-height: auto !important;

}

#host-mode {
    font-family: "Square Peg", cursive;
    font-size: 1.7rem;
    color: #9F5255;
    margin-bottom: 8px;
}

#enter-code {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    width: 35%;
    border-radius: 12px;
}

#enter-code:focus, #search-box:focus {
    outline: none;
    border: 1px solid #b59a72;
    box-shadow: 0 0 0 .25rem #F0E4D3;
}

#or {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 1rem;
}

.vintage-btn {
    background: #F0E4D3; 
    border: 1px solid #b59a72;
    color: #4a3b2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 35%;
    align-self: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.vintage-btn:hover {
    background: #b59a72;
}

.vintage-btn:active {
    transform: scale(0.75);
}

#generated-code {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 1rem;
    margin-bottom: 0rem;
}

#gen-code-note {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 0.7rem;
    margin-bottom: 8px;
}

#search-song-btn {
    background: #F0E4D3; 
    border: 1px solid #b59a72;
    color: #4a3b2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 25%;
    align-self: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#search-song-btn:hover {
    background: #b59a72;
}

#search-song-btn:active {
    transform: scale(0.75);
}

#search-box {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#head-res, #head-queue {
    font-family: "Square Peg", cursive;
    font-size: 2rem;
    color: #9F5255;
}

#sr-song-placeholder, #queue-placeholder {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 0.7rem;
    margin-bottom: 8px;
}
